extends ../layouts/base

block seo
	title Заголовок
	meta(name="description" content="")

block main-content
	section.main-screen
		.main-screen__topper
			.main-screen__wrap.main-screen__wrap--flex
				nav.main-screen__nav
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О себе
						li
							a(href="#") Навыки
						li
							a(href="#") Опыт
						li
							a(href="#") Портфолио
						li
							a(href="#") Контакты

				.main-screen__tel
					a(href="tel:89992390940")
						| +7 999 239-09-40


		.main-screen__img

		.main-screen__wrap
			article.main-screen__info
				h1.main-screen__title
					| Антон Немцев

				p.main-screen__descr
					| Front-end разработчик, который любит развитие, ответственные дела и игры 

				a.block-btn.block-btn--akcent(href="#contants")
					| Связаться со мной
	

	section.block-section
		.block-section__wrap
			h2.block-section__title
				| О себе

			.section-about
				.section-about__img
					img(src="img/about.jpg" alt="Моё фото")
				.section-about__text
					p текст о себе
					p текст о себе


	section.block-section.block-section--small-pb
		.block-section__wrap
			h3.block-section__title
				| Навыки

			.section-skills
				article.section-skills__item
					h4.section-skills__item-title
						| Название навыка
					ul.section-skills__item-descr
						li Описание
						li Описание
						li Описание
						li Описание

				article.section-skills__item
					h4.section-skills__item-title
						| Название навыка
					ul.section-skills__item-descr
						li Описание
						li Описание
						li Описание
						li Описание

				article.section-skills__item
					h4.section-skills__item-title
						| Название навыка
					ul.section-skills__item-descr
						li Описание
						li Описание
						li Описание
						li Описание

				article.section-skills__item
					h4.section-skills__item-title
						| Название навыка
					ul.section-skills__item-descr
						li Описание
						li Описание
						li Описание
						li Описание

				article.section-skills__item
					h4.section-skills__item-title
						| Название навыка
					ul.section-skills__item-descr
						li Описание
						li Описание
						li Описание
						li Описание

				article.section-skills__item
					h4.section-skills__item-title
						| Название навыка
					ul.section-skills__item-descr
						li Описание
						li Описание
						li Описание
						li Описание


	section.block-section.block-section--small-pb
		.block-section__wrap
			h3.block-section__title
				| Места работы и учёбы

			.section-exp
				article.section-exp__item
					h6.section-exp__item-title
						| Место работы
					p.section-exp__item-dates
						| Январь 2016 - Март 2017
					p.section-exp__item-descr
						| Описание места работы 

				article.section-exp__item
					h6.section-exp__item-title
						| Место работы
					p.section-exp__item-dates
						| Январь 2016 - Март 2017
					p.section-exp__item-descr
						| Описание места работы 

				article.section-exp__item
					h6.section-exp__item-title
						| Место работы
					p.section-exp__item-dates
						| Январь 2016 - Март 2017
					p.section-exp__item-descr
						| Описание места работы 

				article.section-exp__item
					h6.section-exp__item-title
						| Место работы
					p.section-exp__item-dates
						| Январь 2016 - Март 2017
					p.section-exp__item-descr
						| Описание места работы 


	section.block-section.block-section--small-pb.block-section--dark
		.block-section__wrap
			h2.block-section__title
				| Портфолио

			.section-portfolio
				article.section-portfolio__item
					.section-portfolio__item-img
						img(src="img/project-iswash.jpg" alt="Проект iswash" width="200")

					.section-portfolio__item-descr
						h6.section-portfolio__item-title
							| Заголовок работы
						.section-portfolio__item-text
							p Описание работы
						a.section-portfolio__item-link(href="")
							| Посмотреть проект

				article.section-portfolio__item
					.section-portfolio__item-img
						img(src="img/project-iswash.jpg" alt="Проект iswash" width="200")

					.section-portfolio__item-descr
						h6.section-portfolio__item-title
							| Заголовок работы
						.section-portfolio__item-text
							p Описание работы
						a.section-portfolio__item-link(href="")
							| Посмотреть проект

				article.section-portfolio__item
					.section-portfolio__item-img
						img(src="img/project-iswash.jpg" alt="Проект iswash" width="200")

					.section-portfolio__item-descr
						h6.section-portfolio__item-title
							| Заголовок работы
						.section-portfolio__item-text
							p Описание работы
						a.section-portfolio__item-link(href="")
							| Посмотреть проект

				article.section-portfolio__item
					.section-portfolio__item-img
						img(src="img/project-iswash.jpg" alt="Проект iswash" width="200")

					.section-portfolio__item-descr
						h6.section-portfolio__item-title
							| Заголовок работы
						.section-portfolio__item-text
							p Описание работы
						a.section-portfolio__item-link(href="")
							| Посмотреть проект


	section.block-section
		.block-section__wrap
			h3.block-section__title
				| Контакты

			ul.section-contacts
				li.section-contacts__item
					a(href="tel:89992390940") +7 999 239-09-40

				li.section-contacts__item
					a(href="mailto:doyoulikeorigami@gmail.com") doyoulikeorigami@gmail.com

				li.section-contacts__item
					a(href="https://vk.com/origami_biz" target="_blank") vk.com/origami_biz

			form.block-form(method="" action="")
				p.block-form__cta
					|	Получите моё резюме на e-mail
					
				input.block-form__input(type="email" name="email" required placeholder="Введите e-mail")
				button.block-btn.block-btn--akcent(type="submit") Получить резюме

