nav.mobile-nav.mobile-nav--hidden#mobile-nav
	header.mobile-nav__header
		p
			| Антон Немцев
		p
			a(href="tel:+79992390940") +7 (999) 239-09-40

	ul
		li
			a.mobile-nav__link(href="#about")
				span Эбаут

		li
			a.mobile-nav__link(href="#skills")
				span Навыки

		li
			a.mobile-nav__link(href="#exp")
				span Опыт

		li
			a.mobile-nav__link(href="#portfolio")
				span Портфолио

		li
			a.mobile-nav__link(href="#contacts")
				span Контакты

		li
			a.block-btn.block-btn--small.js-hide-mobile-nav(href="#")
				span Закрыть меню
