@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
}
.wrap {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media only screen and (max-width: 768px) {
  .wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.title {
  display: block;
  margin-bottom: 60px;
  text-align: center;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
}
@media only screen and (min-width: 1600px) {
  .title {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .title {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .title {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .title {
    font-size: 36px;
    line-height: 40px;
  }
}
.secondary-title {
  display: block;
  margin-bottom: 90px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}
@media only screen and (min-width: 1600px) {
  .secondary-title {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 1190px) {
  .secondary-title {
    margin-bottom: 75px;
  }
}
@media only screen and (max-width: 420px) {
  .secondary-title {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1600px) {
  .secondary-title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .secondary-title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .secondary-title {
    font-size: 40px;
    line-height: 40px;
  }
}
.secondary-title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 10px;
  margin-right: 30px;
  background-color: #ff5508;
}
.xl-text {
  font-size: 70px;
  line-height: 70px;
}
@media only screen and (min-width: 1600px) {
  .xl-text {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .xl-text {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .xl-text {
    font-size: 36px;
    line-height: 40px;
  }
}
.big-text {
  font-size: 60px;
  line-height: 60px;
}
@media only screen and (min-width: 1600px) {
  .big-text {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .big-text {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .big-text {
    font-size: 40px;
    line-height: 40px;
  }
}
.middle-text {
  font-size: 24px;
  line-height: 30px;
}
@media only screen and (min-width: 1600px) {
  .middle-text {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .middle-text {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .middle-text {
    font-size: 16px;
    line-height: 20px;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1190px) {
  .grid {
    justify-content: flex-end;
  }
}
.half-height {
  height: 50vh;
  min-height: 315px;
}
@media only screen and (max-width: 1190px) {
  .half-height {
    min-height: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .half-height {
    min-height: 240px;
  }
}
@media only screen and (max-width: 420px) {
  .half-height {
    min-height: 200px;
  }
}
@media only screen and (min-width: 1600px) {
  .half-height {
    min-height: 360px;
  }
}
@media only screen and (max-width: 1190px) {
  .half-height {
    height: auto;
  }
}
.min-height {
  min-height: 315px;
}
@media only screen and (max-width: 1190px) {
  .min-height {
    min-height: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .min-height {
    min-height: 240px;
  }
}
@media only screen and (max-width: 420px) {
  .min-height {
    min-height: 200px;
  }
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  -webkit-text-size-adjust: none;
}
body {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  font-family: "Raleway", Arial, sans-serif;
  height: 100%;
  position: relative;
}
@media only screen and (min-width: 1600px) {
  body {
    font-size: 18px;
  }
}
::selection {
  background-color: rgba(49, 190, 248, 0.5);
}
input {
  font-family: "Raleway", Arial, sans-serif;
}
a {
  color: #31BEF8;
}
.block-btn {
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #31BEF8;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}
@media only screen and (min-width: 1600px) {
  .block-btn {
    padding: 20px 35px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-btn {
    padding: 15px 25px;
  }
}
.block-btn--small {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 20px;
}
@media only screen and (min-width: 1600px) {
  .block-btn--small {
    padding: 15px 35px;
    font-size: 18px;
  }
}
.block-btn--blue {
  background-color: #31BEF8;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.225);
}
.block-btn--blue span::after {
  background-color: #fff;
}
.block-btn--blue:hover {
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.225);
  background-color: #4fc7f9;
}
.block-btn--akcent {
  text-decoration: none;
  background-color: #ff5508;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.225);
}
.block-btn--akcent span::after {
  background-color: #fff;
}
.block-btn--akcent:hover {
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.225);
  background-color: #ff6a27;
}
.block-btn--dark {
  background-color: #333;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.225);
}
.block-btn--dark span::after {
  background-color: #fff;
}
.block-btn--dark:hover {
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.225);
  background-color: #242424;
}
.block-section {
  display: block;
  position: relative;
  padding-top: 60px;
  padding-bottom: 90px;
}
@media only screen and (min-width: 1600px) {
  .block-section {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-section {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .block-section {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .block-section {
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-section {
    padding-bottom: 75px;
  }
}
@media only screen and (max-width: 420px) {
  .block-section {
    padding-bottom: 60px;
  }
}
.block-section--small-pb {
  padding-bottom: 60px;
}
@media only screen and (min-width: 1600px) {
  .block-section--small-pb {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-section--small-pb {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .block-section--small-pb {
    padding-bottom: 40px;
  }
}
.block-section--dark {
  background-color: #353742;
  color: #fff;
}
.block-section__wrap {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media only screen and (max-width: 768px) {
  .block-section__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.block-section__title {
  display: block;
  margin-bottom: 90px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}
@media only screen and (min-width: 1600px) {
  .block-section__title {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-section__title {
    margin-bottom: 75px;
  }
}
@media only screen and (max-width: 420px) {
  .block-section__title {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1600px) {
  .block-section__title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-section__title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .block-section__title {
    font-size: 40px;
    line-height: 40px;
  }
}
.block-section__title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 10px;
  margin-right: 30px;
  background-color: #ff5508;
}
.block-form {
  text-align: center;
}
.block-form__cta {
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1600px) {
  .block-form__cta {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-form__cta {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .block-form__cta {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .block-form__cta {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .block-form__cta {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .block-form__cta {
    margin-bottom: 20px;
  }
}
.block-form__input {
  display: inline-block;
  width: 280px;
  box-sizing: border-box;
  padding: 15px 25px;
  font-size: inherit;
  border: 2px solid #333;
  outline: none;
  margin-right: 30px;
  transition: .3s;
}
.block-form__input:focus,
.block-form__input:hover {
  border-color: #ff5508;
}
.block-form__input::placeholder {
  color: #333;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
}
.main-topper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0785);
  transition: .3s;
}
.main-topper__moved {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.0785);
}
.main-topper__moved .main-topper__nav li > a {
  padding: 12px 20px;
}
.main-topper__wrap {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .main-topper__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main-topper__nav {
  display: block;
}
.main-topper__nav ul {
  display: flex;
}
.main-topper__nav li {
  display: inline-block;
}
.main-topper__nav li > a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  transition: .3s;
}
.main-topper__nav li > a:hover {
  background-color: rgba(49, 190, 248, 0.5);
}
.main-topper__tel {
  display: block;
}
.main-topper__tel a {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
}
@media only screen and (min-width: 1600px) {
  .main-topper__tel a {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-topper__tel a {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .main-topper__tel a {
    font-size: 16px;
    line-height: 20px;
  }
}
.main-screen {
  display: block;
  position: relative;
  margin-top: 60px;
}
.main-screen__wrap {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media only screen and (max-width: 768px) {
  .main-screen__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main-screen__img {
  display: block;
  position: relative;
  height: 360px;
  background: url('../img/bg.jpg') center no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1600px) {
  .main-screen__img {
    height: 480px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__img {
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .main-screen__img {
    height: 240px;
  }
}
.main-screen__info {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  .main-screen__info {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__info {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .main-screen__info {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .main-screen__info {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__info {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .main-screen__info {
    padding-bottom: 40px;
  }
}
.main-screen__title {
  display: block;
  margin-bottom: 60px;
  text-align: center;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  margin-bottom: 45px;
}
@media only screen and (min-width: 1600px) {
  .main-screen__title {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__title {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .main-screen__title {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .main-screen__title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .main-screen__title {
    font-size: 36px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .main-screen__title {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__title {
    margin-bottom: 37.5px;
  }
}
@media only screen and (max-width: 420px) {
  .main-screen__title {
    margin-bottom: 30px;
  }
}
.main-screen__descr {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 45px;
}
@media only screen and (min-width: 1600px) {
  .main-screen__descr {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 1190px) {
  .main-screen__descr {
    margin-bottom: 37.5px;
  }
}
@media only screen and (max-width: 420px) {
  .main-screen__descr {
    margin-bottom: 30px;
  }
}
.section-about {
  display: flex;
  justify-content: space-between;
}
.section-about__img {
  display: block;
  flex: 0 0 280px;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
}
.section-about__img img {
  display: block;
  width: 100%;
}
.section-about__text {
  display: block;
  flex: 0 0 600px;
}
.section-about__text p {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1600px) {
  .section-about__text p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-about__text p {
    margin-bottom: 12.5px;
  }
}
@media only screen and (max-width: 420px) {
  .section-about__text p {
    margin-bottom: 10px;
  }
}
.section-about__text p:last-child {
  margin-bottom: 0;
}
.section-skills {
  display: flex;
  flex-wrap: wrap;
}
.section-skills__item {
  display: block;
  flex: 0 0 280px;
  margin-right: 35px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1600px) {
  .section-skills__item {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-skills__item {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .section-skills__item {
    margin-bottom: 40px;
  }
}
.section-skills__item:nth-of-type(3n) {
  margin-right: 0;
}
.section-skills__item-title {
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1600px) {
  .section-skills__item-title {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-skills__item-title {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-skills__item-title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .section-skills__item-title {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-skills__item-title {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-skills__item-title {
    margin-bottom: 20px;
  }
}
.section-skills__item-descr {
  list-style-type: circle;
  padding-left: 20px;
}
.section-skills__item-descr li,
.section-skills__item-descr p {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1600px) {
  .section-skills__item-descr li,
  .section-skills__item-descr p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-skills__item-descr li,
  .section-skills__item-descr p {
    margin-bottom: 12.5px;
  }
}
@media only screen and (max-width: 420px) {
  .section-skills__item-descr li,
  .section-skills__item-descr p {
    margin-bottom: 10px;
  }
}
.section-skills__item-descr li:last-child,
.section-skills__item-descr p:last-child {
  margin-bottom: 0;
}
.section-exp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-exp__item {
  display: block;
  flex: 0 0 430px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1600px) {
  .section-exp__item {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-exp__item {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .section-exp__item {
    margin-bottom: 40px;
  }
}
.section-exp__item-title {
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1600px) {
  .section-exp__item-title {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-exp__item-title {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-exp__item-title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .section-exp__item-title {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-exp__item-title {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-exp__item-title {
    margin-bottom: 20px;
  }
}
.section-exp__item-dates {
  display: block;
  margin-bottom: 30px;
  color: #888;
}
@media only screen and (min-width: 1600px) {
  .section-exp__item-dates {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-exp__item-dates {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-exp__item-dates {
    margin-bottom: 20px;
  }
}
.section-exp__item-descr {
  display: block;
}
.section-exp__item-descr p,
.section-exp__item-descr ul,
.section-exp__item-descr li {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1600px) {
  .section-exp__item-descr p,
  .section-exp__item-descr ul,
  .section-exp__item-descr li {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-exp__item-descr p,
  .section-exp__item-descr ul,
  .section-exp__item-descr li {
    margin-bottom: 12.5px;
  }
}
@media only screen and (max-width: 420px) {
  .section-exp__item-descr p,
  .section-exp__item-descr ul,
  .section-exp__item-descr li {
    margin-bottom: 10px;
  }
}
.section-exp__item-descr p:last-child,
.section-exp__item-descr ul:last-child,
.section-exp__item-descr li:last-child {
  margin-bottom: 0;
}
.section-exp__item-descr ul {
  padding-left: 25px;
  list-style-type: circle;
}
.section-portfolio {
  display: block;
}
.section-portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1600px) {
  .section-portfolio__item {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-portfolio__item {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) {
  .section-portfolio__item {
    margin-bottom: 40px;
  }
}
.section-portfolio__item-img {
  display: block;
  position: relative;
  flex: 0 0 45%;
  border-radius: 10px;
  overflow: hidden;
}
.section-portfolio__item-img img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  width: auto;
}
.section-portfolio__item-descr {
  display: block;
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 15px 0 15px 15px;
}
.section-portfolio__item-title {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
@media only screen and (min-width: 1600px) {
  .section-portfolio__item-title {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-portfolio__item-title {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-portfolio__item-title {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .section-portfolio__item-title {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-portfolio__item-title {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-portfolio__item-title {
    font-size: 16px;
    line-height: 20px;
  }
}
.section-portfolio__item-text {
  margin-bottom: 30px;
  color: #888;
}
@media only screen and (min-width: 1600px) {
  .section-portfolio__item-text {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-portfolio__item-text {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-portfolio__item-text {
    margin-bottom: 20px;
  }
}
.section-portfolio__item-text ul {
  list-style-type: circle;
  padding-left: 20px;
}
.section-portfolio__item-text ul,
.section-portfolio__item-text p {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1600px) {
  .section-portfolio__item-text ul,
  .section-portfolio__item-text p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-portfolio__item-text ul,
  .section-portfolio__item-text p {
    margin-bottom: 12.5px;
  }
}
@media only screen and (max-width: 420px) {
  .section-portfolio__item-text ul,
  .section-portfolio__item-text p {
    margin-bottom: 10px;
  }
}
.section-portfolio__item-text ul:last-child,
.section-portfolio__item-text p:last-child {
  margin-bottom: 0;
}
.section-portfolio__item-text li {
  margin-bottom: 5px;
}
.section-portfolio__item-text li:last-of-type {
  margin-bottom: 0;
}
.section-portfolio__item-link {
  text-decoration: underline;
  color: #ff5508;
}
.section-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media only screen and (min-width: 1600px) {
  .section-contacts {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-contacts {
    margin-bottom: 75px;
  }
}
@media only screen and (max-width: 420px) {
  .section-contacts {
    margin-bottom: 60px;
  }
}
.section-contacts__item {
  display: block;
}
.section-contacts__item a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 24px;
  line-height: 30px;
  transition: .3s;
}
@media only screen and (min-width: 1600px) {
  .section-contacts__item a {
    font-size: 34px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1190px) {
  .section-contacts__item a {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .section-contacts__item a {
    font-size: 16px;
    line-height: 20px;
  }
}
.section-contacts__item a:hover {
  color: #ff5508;
  text-decoration: underline;
}
