@bigScreen: ~"only screen and (min-width: 1600px)";
@desktop: ~"only screen and (min-width: 1400px)";
@laptop: ~"only screen and (max-width: 1400px)";
@laptopMin: ~"only screen and (min-width: 1400px)";
@tablet: ~"only screen and (max-width: 1190px)";
@mobile: ~"only screen and (max-width: 768px)";
@mobileSm: ~"only screen and (max-width: 420px)";
@smallHeight: ~"only screen and (max-height: 420px)";

@akcentColor: #ff5508;
@altAkcentColor: #31BEF8;
@greyColor: #eeeeee;

@altAkcentOpacityColor: rgba(49, 254, 248, .5);

@altTextColor: #fff;
@textColor: #333;
@greyText: #888;
@headingColor: #353535;

@bStep: 40px;
@dStep: 30px;
@tStep: 25px;
@mStep: 20px;

@fontFamily: "Raleway", Arial, sans-serif;
