.section-portfolio {
	display: block;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: stretch;

		box-sizing: border-box;

		padding: 15px;

		background-color: rgba(255, 255, 255, .12);
		border-radius: 10px;

		.margin-bottom(2);

		@media @mobile {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item-img {
		display: block;
		position: relative;
		flex: 0 0 45%;

		border-radius: 10px;
		overflow: hidden;

		@media @tablet {
			flex: 0 0 35%;
		}

		@media @mobile {
			flex: 0 0 280px;
			.margin-bottom;
		}

		@media @mobileSm {
			flex: 1 1 100%;
		}

		img {
			display: block;
			position: absolute;

			left: 0;
			top: 0;

			min-height: 100%;
			width: auto;

			@media @mobile {
				position: relative;

				width: 100%;
				height: auto;
				min-height: 0;
			}
		}
	}

	&__item-descr {
		display: block;
		flex: 0 0 50%;

		box-sizing: border-box;
		padding: 15px 0 15px 15px;

		@media @tablet {
			flex: 0 0 60%;
			padding: 0;
		}

		@media @mobile {
			flex: 1 1 100%;
		}
	}

	&__item-title {
		display: block;
		.margin-bottom;
		.middle-text;
	}

	&__item-text {
		.margin-bottom;
		color: @greyText;

		ul {
			list-style-type: circle;
			padding-left: 20px;
		}

		ul, p {
			.margin-bottom(0.5);

			&:last-child {
				margin-bottom: 0;
			}
		}

		li {
			margin-bottom: 5px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__item-link {
		text-decoration: underline;
		color: @akcentColor;
	}
}