.section-about {
	display: flex;
	justify-content: space-between;

	@media @tablet {
		flex-wrap: wrap;
		justify-content: center;
	}

	&__img {
		display: block;

		flex: 0 0 280px;
		height: 280px;

		border-radius: 10px;
		overflow: hidden;

		@media @tablet {
			.margin-bottom;
		} 

		img {
			display: block;
			width: 100%;
		}
	}

	&__text {
		display: block;
		flex: 0 0 600px;

		@media @tablet {
			flex: 1 1 100%;
		}

		p {
			.margin-bottom(.5);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}