.section-about {
	display: flex;
	justify-content: space-between;

	&__img {
		display: block;

		flex: 0 0 280px;
		height: 280px;

		border-radius: 10px;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
		}
	}

	&__text {
		display: block;
		flex: 0 0 600px;

		p {
			.margin-bottom(.5);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}