.section-contacts {
	display: flex;
	justify-content: space-between;

	.margin-bottom(3);

	&__item {
		display: block;

		a {
			text-decoration: none;
			font-weight: bold;
			color: @textColor;
			.middle-text;

			transition: .3s;

			&:hover {
				color: @akcentColor;
				text-decoration: underline;
			}
		}
	}
}