.section-skills {
	display: flex;
	flex-wrap: wrap;

	@media @tablet {
		justify-content: space-around;
	}

	&__item {
		display: block;
		flex: 0 0 280px;

		margin-right: 35px;

		.margin-bottom(2);

		&:nth-of-type(3n) {
			margin-right: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@media @tablet {
			margin-right: 0;
		}

		@media @mobileSm {
			flex: 1 1 100%;
		}
	}

	&__item-title {
		display: block;

		.middle-text;

		.margin-bottom;
	}

	&__item-descr {
		list-style-type: circle;
		padding-left: 20px;

		li, p {
			.margin-bottom(0.5);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}